site.css
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar{
  display: flex;
}
.nav-reg{
  right: 0;
}
.card{
  display: flex;
  flex-direction: row;
}

.card img{
  width: 30%;
}
.btn-group{
  display: flex;
  justify-content: space-between;
}
.\.tableZoeken{
  
  padding: 20px;
  border: 1px solid;
  text-align: center;
  
}

.\.tdZoeken{
  border: #6a1a21;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  border-spacing: 5px;
  
}

thead {
  background-color: gray;
  color: white;
}