@page
@model StripboekProject.Pages.Zoeken

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Search</title>
</head>
<body>

<div class="input-group mt-4">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
    <button type="button" class="btn btn-outline-primary">search</button>
</div>

<div class="btn-group">
    <div class="dropdown mt-4">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Search By
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item">Stripboeknaam</a></li>
            <li><a class="dropdown-item">Categorie</a></li>
            <li><a class="dropdown-item">Serienummer</a></li>
            <li><a class="dropdown-item">Auteur/Tekenaar</a></li>
        </ul>
    </div>

    <div class="dropdown mt-4">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Order By
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item">A-Z</a></li>
            <li><a class="dropdown-item">Aantal Bladzijden(meest-minst)</a></li>
        </ul>
    </div>
</div>


<div class="card mt-4">
    <img class="card-img-top" src="https://images0.persgroep.net/rcs/afroaTCOt2gl_nM-N7UQE8rpGOI/diocontent/181204460/_fitwidth/763?appId=93a17a8fd81db0de025c8abd1cca1279&quality=0.8&desiredformat=webp" alt="StripboekCover">
    <div class="card-body">
        <h5 class="card-title">Stripboek Titel</h5>
        <p class="card-text">Serie/Serienummer:</p>
        <p class="card-text">Genre/thema: </p>
        <p class="card-text">Conditie: </p>
        <p class="card-text">Uitgave: </p>
        <p class="card-text">Aantal bladzijden: </p>
        <p class="card-text">Auteur en/of tekenaar: </p>
        <p class="card-text">Dikte, Wijdte, Hoogte: </p>
        <p class="card-text">Text die over het boek gaat, kan je er zelf bijzetten bij het invoeren.</p>
        <a href="#" class="btn btn-primary">Add</a>
    </div>
</div>
<div class="card mt-4">
    <img class="card-img-top" src="https://cdna.artstation.com/p/assets/images/images/027/635/258/medium/bryonne-langlois-specsm-test-cover4da.jpg?1592109227" alt="StripboekCover">
    <div class="card-body">
        <h5 class="card-title">Stripboek Titel</h5>
        <p class="card-text">Serie/Serienummer:</p>
        <p class="card-text">Genre/thema: </p>
        <p class="card-text">Conditie: </p>
        <p class="card-text">Uitgave: </p>
        <p class="card-text">Aantal bladzijden: </p>
        <p class="card-text">Auteur en/of tekenaar: </p>
        <p class="card-text">Dikte, Wijdte, Hoogte: </p>
        <p class="card-text">Text die over het boek gaat, kan je er zelf bijzetten bij het invoeren.</p>
        <a href="#" class="btn btn-primary">Add</a>
    </div>
</div>
<div class="card mt-4">
    <img class="card-img-top" src="https://cdna.artstation.com/p/assets/images/images/027/635/258/medium/bryonne-langlois-specsm-test-cover4da.jpg?1592109227" alt="StripboekCover">
    <div class="card-body">
        <h5 class="card-title">Stripboek Titel</h5>
        <p class="card-text">Serie/Serienummer:</p>
        <p class="card-text">Genre/thema: </p>
        <p class="card-text">Conditie: </p>
        <p class="card-text">Uitgave: </p>
        <p class="card-text">Aantal bladzijden: </p>
        <p class="card-text">Auteur en/of tekenaar: </p>
        <p class="card-text">Dikte, Wijdte, Hoogte: </p>
        <p class="card-text">Text die over het boek gaat, kan je er zelf bijzetten bij het invoeren.</p>
        <a href="#" class="btn btn-primary">Add</a>
    </div>
</div>

</body>
</html> 