@page
@model StripboekProject.Pages.Zoeken

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Search</title>
</head>
<body>

<div class="input-group mt-4">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
    <button type="button" class="btn btn-outline-primary">search</button>
</div>

<div class="btn-group">
    <div class="dropdown mt-4">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Search By
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item">Stripboeknaam</a></li>
            <li><a class="dropdown-item">Categorie</a></li>
            <li><a class="dropdown-item">Serienummer</a></li>
            <li><a class="dropdown-item">Auteur/Tekenaar</a></li>
        </ul>
    </div>

    <div class="dropdown mt-4">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Order By
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item">A-Z</a></li>
            <li><a class="dropdown-item">Aantal Bladzijden(meest-minst)</a></li>
        </ul>
    </div>
</div>

</body>
</html> 