<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - StripboekProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/StripboekProject.styles.css" asp-append-version="true"/>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="/">Stripboek.nl</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light" aria-current="page" href="Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="MijnStripboeken">Mijn Stripboeken</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="Zoeken">Zoeken</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="UpcomingReleases">Upcoming Releases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="Add">Add</a>
                </li>
                <form class="d-flex" method="get" asp-page="/SearchResult">
                    <input class="form-control me-2" name="Search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="Login">Login</a></li>
                        <li><a class="dropdown-item" href="Register">Register</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - StripboekProject - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>